.app-title{
  font-size: 24px;
  color: #2196F3;
  margin: 4px 4px;
  letter-spacing: 2px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.ui-progressbar .ui-progressbar-value {
  height: 0! important;
}