# Node build artifacts
node_modules
npm-debug.log

# Local development
*.env
*.dev
.DS_Store

server/credentials.js
server/credentials.ts
server/dbConfig.js
server/dbConfig.ts
server/build

tehtavananto.txt

.eslintcache
